/* create css for rectangles that have text in them for the tables in active_q.hogwarts_models*/
.container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 100px 300px;
  margin: 25px;
}

#tableBox {
  border: solid thin black;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  height: 50px;
  width: 100px;
}

/*create color tags for open/closed tables*/
#red {
  background-color: red;
}

#green {
  background-color: green;
}
