<html>
<center>
<head>
  <title>Add Customer</title>
</head>
<body>
  <h1><font color="red">Add a Customer to Your Queue </font> </h1>
  <form method = "post" action = "/tables">
    <font color="blue"> New Customer Name: <font> <br>
    <input type = "text" name = "c_name">
    <br>
    <font color="blue">Customer phone number: </font> <br>
    <input type = "text" name = "c_number">
    <br>
    <font color="blue">Customer party size: </font> <br>
    <input type = "text" name = "c_party">
    <br>

    <input type = "submit" value = "Submit" action = "http://localhost:8080/tables">
  </form>
  <body style= "background-color: lightgreen;">
</body>
</center>
</html>
