<!DOCTYPE html>
<html>
<head>
  <title>Q Login</title>
</head>
<body>
  <h1>Login to Q</h1>
  <form method = "post" action ="/">
    Email: <br>
    <input type = "text" name = "email_l">
    <br>
    Password: <br>
    <input type = "text" name = "password_l">
    <br>
    User Type <br>
    <select name = "customer-restaurant">

      <option value = "customer">Customer</option>

      <option value = "restaurant">Restaurant</option>

    </select>
    <input type = "submit" value = "Submit">

  </form>
</body>
</html>
