<!DOCTYPE html>
<html>
<center>
<head>
  <title>Q Login</title>
</head>
<body>
  <h1><font color="red">Login to Q </font> </h1>
  <form method = "post" action ="/">
    <font color="blue">Email: </font> <br>
    <input type = "text" name = "email_l">
    <br>
    <font color="blue">Password: </font> <br>
    <input type = "text" name = "password_l">
    <br>
    <font color="yellow">User Type <font> <br>
    <select name = "customer-restaurant">

      <option value = "customer">Customer</option>

      <option value = "restaurant">Restaurant</option>

    </select>
    <input type = "submit" value = "Submit">

  </form>
  <body style="background-color:lightsalmon;">"
</body>
</center>
</html>
