<!DOCTYPE html>
<html>
  <head>
    <title>Q New Restaurant</title>
  </head>
<body>
  <h1>New Restaurant Sign Up</h1>
  <form method="post" action ="/">
    Name of Restaurant: <br>
    <input type="text" name="name_r">
    <br>
    Phone Number: <br>
    <input type="text" name="phone_r">
    <br>
    <h3>Address</h3>
    Street Address: <br>
    <input type="text" name="address1">
    <br>
    City: <br>
    <input type="text" name="address2">
    <br>
    State: <br>
    <input type="text" name="address3">
    <br>
    Zip Code: <br>
    <input type="text" name="address4">
    <br>
    <h3>Tables</h3>
    <div id="container">
      Description of table (outside, inside, booth, etc.): <input type="text" name="table_description" id="TabType"/>
      <br>
      Max party size: <input type="integer" name="table_size_max" id="TabType"/>
      <br>
      Min party size: <input type="integer" name="table_size_min" id="TabType"/>
      <br>


    <input type="submit" value= "Submit">



  </form>
  <script src="/static/restaurant_new.js" /></script>
</body>

</html>
