<!DOCTYPE html>
<html>
<head>
  <title>Q New Restaurant</title>
</head>
<body>
  <h1>New Restaurant Sign Up</h1>
  <form method = "post" action ="/">
    Name of Restaurant: <br>
    <input type = "text" name = "name_r">
    <br>
    Phone Number: <br>
    <input type = "text" name = "phone_r">
    <br>
    Street Address: <br>
    <input type = "text" name = "address1">
    <br>
    City: <br>
    <input type = "text" name = "address2">
    <br>
    State: <br>
    <input type = "text" name = "address3">
    <br>

    Zip Code: <br>
    <input type = "text" name = "address4">
    <br>

    <input type = "submit" value= "Submit">



  </form>
</body>
</html>
