<!DOCTYPE html>
<html>
  <head>
    <title>Tables Manager</title>
  <link rel="stylesheet" href="tables.css">
  </head>
  <body>
    <a href="{{log_url}}">Logout</a>

    <h1>Tables for {{restaurant.name}}</h1>

    {% for table in tables %}

    <br />
    <a href = "/a_queue">See Customers</a>

    <br />
    {% for table in tables %}
    <br />
      <div class="tableBox">{{table.table_name}}</div>
      <div>Seats:{{table.max}}</div>
      <div>full?: {{table.full}}</div>
      <div>time_filled: {{table.time_filled}}</div>
        <a href = "/update_table_use?table_id={{table.key.urlsafe()}}&used={{table.full}}">Change table.full</a>
    <br />

    {% endfor %}


  <script src="tables.js"></script>
  <body style="background-color:beige";>
  </body>
</html>
